

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 centredisplay">   
    <br />
    <p>BOOK EDIT VIEW</p>
    <p class="headingtext"><%= @genre.name %> SECTION</P>
    <p class="subheading">Edit book "<%= @book.title %>"</p>

    <br />
        <%= render "form", book: @book %>
        <p id="notice"><%= notice %></p>
        <%= link_to "BACK TO #{@genre.name} SECTION", genre_book_path(@genre, @book), class: 'btn btn-outline-dark btn-sm' %>

         </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
