<% @genres.each do |genre| %>
  <div>
    <%= link_to genre.name, genre_books_path(genre), class: 'btn btn-outline-dark' %>
    
  </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 centredisplay">
      <br />
      <p class="headingtext">Books in <%= @genre.name %></p>
      <br />
      <% @genre.books.each do |book| %>
        <hr />
        <%= render book %>
        <%= link_to "EDIT BOOK", edit_genre_book_path(@genre, book), class: 'btn btn-outline-dark btn-sm' %>
        | 
        <p>Test</p>
        <%= link_to "DELETE BOOK", genre_book_path(@genre, @book), method: :delete, class: 'btn btn-outline-danger btn-sm'  %>
        <hr />
        <%= link_to 'Delete', genre, method: :delete, data: { confirm: 'Are you sure you want to delete this genre?' }, class: 'btn btn-outline-danger btn-sm' %>
        <% end %>
        
<br /> <%= link_to 'BACK TO FULL CATALOGUE', genres_path, class: 'btn btn-outline-dark btn-sm'  %>





    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
 




       










    
