<h1>Books in <%= @genre.name %> BOOKS INDEX</h1>

  
<% @genre.books.each do |book| %>
    <hr />
    <%= render book %>
    <%= button_to "Delete this book", genre_book_path(@genre, book), method: :delete %>
 <%= button_to "Edit this book", genre_book_path(@genre, book), method: :update %>
    <hr />
<% end %>

       










    
<%= link_to 'New book', new_genre_book_path(@genre) %>
<%= link_to 'Back to genre', @genre %>
