
<br />
<h1>Books in the <%= @genre.name %> section SHOW BOOKS</h1>
<br />
BOOKS SHOW


<%= link_to 'Add new book to genre', new_genre_book_path(@genre), class: 'btn btn-dark btn-sm' %>
<%= link_to 'Back to genres', genres_path, class: 'btn btn-dark btn-sm' %>
<div id="books">
<% @genre.books.each do |book| %>
    <hr />
 <%= render book %>
 <%= button_to "Delete this book", genre_book_path(@genre, book), method: :delete %>
 <br />
 </hr>

 <% end %>
</div>




<div>

<%= link_to 'Edit book', edit_genre_book_path(@genre, @book), class: 'btn btn-dark btn-sm' %> |
<%= link_to 'Delete book', edit_genre_book_path(@genre, @book), class: 'btn btn-dark btn-sm' %> |


</div>







