<!-- app/views/books/index.html.erb -->
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3"></div>
    <div class="col-lg-6 centredisplay">
      <br />

      <p>BOOK SHOW VIEW</p>
      <p class="headingtext">Books in the <%= @genre.name %> section</p>
      <br />
      <%= link_to 'ADD NEW BOOK TO GENRE', new_genre_book_path(@genre), class: 'btn btn-outline-dark btn-sm' %>
      | 
      <%= link_to "BACK TO FULL CATALOGUE", genres_path, class: 'btn btn-outline-dark btn-sm' %>
      <div id="books">
        <% @genre.books.each do |book| %>
          <hr />
          <div>
            <%= render book %>
            <div class="actions">
              <%= link_to 'EDIT BOOK', edit_genre_book_path(@genre, book), class: 'btn btn-outline-dark btn-sm' %>
              |
              <%= link_to 'DELETE BOOK', genre_book_path(@genre, book), method: :delete, class: 'btn btn-outline-danger btn-sm' %>
              
              


              </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3"></div>
  </div>
</div>
