<!DOCTYPE html>
<html>
  <head>
    <title>BookCategoriser</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href='https://fonts.googleapis.com/css2?family=Rosario:ital,wght@0,300..700;1,300..700&display=swap' rel='stylesheet' type='text/css'>
  </head>

  <body>
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-2">
    </div>  
    <div class="col-lg-8">
    <%= render 'layouts/navbar'%>
    <%= yield %>
    </div>
    <div class="col-lg-2">
    </div>
  </div>
</div>
</body>
</html>
