
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">
    <br />
      <p class="headingtext"><%= image_tag 'book_categoriser.png'  %></p>
   
      <p class="headingtext">
      <p class="headingtext">
      GENRES IN CATALOGUE
      <br />
   <br />
      <%= link_to "Add new genre", new_genre_path, class: "btn btn-outline-dark" %>
      <br />
      <br />
      <hr />
      </p>
      
    </p>
    
      
      
  <div class="genres">
      <div id="genres">
        <% @genres.each do |genre| %>
          <%= render genre %>
          <p class="headingtext">
            <div class="btn btn-outline-dark btn-sm">
              <%= link_to "Show the #{genre.name} section ", genre, :class => "btn" %>
              
            </div>
            <div class="btn btn-outline-info btn-sm">
              <%= link_to 'Edit Genre', edit_genre_path(genre), :class => "btn" %>  
              
            </div>
            <div class="btn btn-outline-danger btn-sm">
              
              <%= button_to "Delete genre", genre_path(genre), method: :delete, class: "btn btn-outline-danger" %>
            </div>
            </div>
            
            <hr class="hr" />
          </p>
        <% end %>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
