
<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6 centredisplay">
      <br />
      <p class="headingtext"><%= image_tag 'book_categoriser.png'  %></p>
      <p class="headingtext">FULL CATALOGUE</p>
      <br /><br />
      <%= link_to "ADD NEW GENRE", new_genre_path, class: "btn btn-outline-dark" %>
      <br /><br />
      <hr class="hr" />
      <div class="genres">
        <% @genres.each do |genre| %>
          <%= render genre %>
          <br />
          <%= link_to "SHOW GENRE", genre, class: "btn btn-outline-dark" %> |
          <%= link_to 'EDIT GENRE', edit_genre_path(genre), class: "btn btn-outline-dark" %> | 
          <%= link_to "DELETE GENRE", genre_path(genre), method: :delete, class: "btn btn-outline-danger" %>
          <br />
          <hr class="hr" />
           <% end %>
      </div>
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>
