<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3">
    </div>
    <div class="col-lg-6">   
    <!-- Display the books of a genre -->
<br />
    <p class="headingtext"><%= @genre.name %> Section</p>
<%= link_to 'Edit genre', edit_genre_path(@genre) %>
<hr />
<hr />
<p><strong>Books in <%= @genre.name %></strong></p>





<div id="books">
  <% if @genre.books.any? %>
    <% @genre.books.each do |book| %>
      <div class="book">
        <h3><%= book.title %></h3>
        <p>Author: <%= book.author %></p>
        <p>Synopsis: <%= book.synopsis %></p>
        
        <%= button_to "Delete this book", genre_book_path(@genre, book), method: :delete, data: { confirm: "Are you sure?" } %>
      </div>
    <% end %>
  <% else %>
    <p>No books available in this genre.</p>
  <% end %>
</div>
<br />
<%= link_to 'Add new book to genre', new_genre_book_path(@genre), class: 'btn btn-dark btn-sm' %> |
<%= link_to 'Back to Genre Catalogue', genres_path, class: 'btn btn-dark btn-sm' %> 
    
    
    </div>
    <div class="col-lg-3">
    </div>
  </div>
</div>



